.outer {
  color: white;
  background: #0e0c2f;
  background: radial-gradient(circle, #2b3047 0%, #0e0c2f 100%);
  text-shadow: 2px 2px 4px black;
  min-height: 100vh;
  background-attachment: fixed;
  padding: 1rem;
}

.inner {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.125);
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.standard-link {
  color: #2323ff;
  text-decoration: none;
  transition: color 0.1s ease;
}

.standard-link:hover {
  color: #0000dc;
  text-decoration: underline;
}

.standard-link:active {
  color: #0000cd;
}

.pill {
  border-radius: 100vw;
}

.no-margin,
.no-margin * {
  margin: 0;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 8px;
}
