body {
  text-align: justify;
}

.outer {
  color: white;
  background: #0e0c2f;
  background: radial-gradient(circle, #2b3047 0%, #0e0c2f 100%);
  text-shadow: 2px 2px 4px black;
  min-height: 100vh;
  background-attachment: fixed;
  padding: 1rem;
}

.inner {
  max-width: 800px;
  margin: auto;
}
